@charset "UTF-8";
/* Header Navigation Layout */

header > nav{
    display: table;
    width: 100%;
}

header > nav > ul{
    display: table-row;
    list-style-type: none;
}

header > nav > ul > li{
    display: table-cell;
    text-align: center;
}

header > nav a{
    display: block;
    width: 100%;
}